Your request has been recieved and assigned ticket #<%= @issueid %>.

Do not change the subject line if you reply to this email.
Send a new email if you would like to open a new ticket.

-- 
Desk Operations Group
Computer Action Team
support@cat.pdx.edu - (503) 725-5420

