Din henvendelse med saksnummer <%= @trackid %> er oppdatert.
Ny status: <%= @status %>

Melding:
<%= @message %>

Vennlig hilsen,
Trollweb Solutions AS
- Professional Magento Partner
support@trollweb.no
